<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="discourse" connectionString="Host=localhost;Username=postgres;Password={replace with password};Database=public"/>
		<add name="q2a" connectionString="server=localhost;user=dummy;database=q2a;port=3306;password={replace with password}"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>