<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<!--
			Host=localhost;Username=<your postgres username>;Password=<your postgres password>;Database=<name of the Discourse database in postgres>
		-->
		<add name="discourse" connectionString="Host=localhost;Username=<your postgres username>;Password=<your postgres password>;Database=<name of the Discourse database in postgres>"/>
		<!--
			server=localhost, user=root, database=<name of the Q2A database in Docker>, port=<client port opened in Docker>, password=<root password, set in Docker>
		-->
		<add name="q2a" connectionString="server=localhost;user=root;database=q2a-mysql-db;port=9906;password=root_p@ssw0rd!"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>